[Desktop Entry]
Version=1.0
Name=My Media Lib
GenericName=My Media Lib
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;music;